/* je redimensionne le formulaire pour les articles */

.form-article {
  width: 20%;
  margin-left: 35%;
  margin-top: 5%;

}

.button-add {
  margin-left: 20%;
  margin-top: 0%;
}
.return-home {
  margin-left: 40%;
 margin-top: 5%;
}
.form-add {
  margin-bottom: 12%;
}

/* je mais un z-index pour faire passer mon header devant le background */
.header_main a {
  display:block;
  text-align:center;


} 

.header_main a {
  margin-left: 2%;


}


.header_main {
  z-index: 1;
  background-color: #A9A9A9;
 
}

/* je mes le background sur toute la page d'accueille */

img {
  position: fixed; 
  top: 0; 
  left: 0; 
  filter: blur(8px);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.img1 {
  position: fixed; 
  top: 0; 
  left: 0; 
  filter: blur(2px);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}



.size {
    height: 35%;
}




.link_place {
    margin-top: 7%;
    margin-left: 5%;
    font-size: 1.5em;
}

.title_place {
  margin-top: 7%;
  font-size: 1.5em;
}

/* Je mes la couleur blanche pour le texte de la page */
body {
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: blue;
}

/* j'ai recentrer le bloc du centre */
.home {
  width: 25%;
  margin-top: 5%;
  margin-left: 35%;
  height: 40%;
  font-size: 20px;
  position: relative;
}
.button-visiter1 {
  width: 33%;
  display: inline-block;
  font-size: 1rem;
  margin: 0 2%;
  margin-left: 25%;
}
.button-visiter2 {
 width: 33%;
 margin-left: 60%;
 display: inline-block;
 margin: 0 0%;
 
    
}
/* je sépare un peu le titre du paragraphe */
.home h1 {
  padding-bottom: 3%;
}
/* je sépare un peu le text du button */
.home p {
  padding-bottom: 3%;
  font-size: 22px;
}


/* partie footer */


.footer_main {
background-color:  #A9A9A9;
z-index: 1;

margin-top: 8.5%;
position: absolute; 
bottom: 0; left: 0; right: 0
}
